In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
SOURCE_FILE_FOLDER = 'Q:\OdooMigration\Accounting\costCenterInputs\\'
#SOURCE_FILE_FOLDER = 'C:\\Users\\bmeie\\Documents\\Accounting\\costCenterInputs\\'
import datetime
now = datetime.datetime.now()
print(f"Report generated at {now.strftime('%H:%M:%S on %A, %B the %dth, %Y')}.")

Report generated at 13:48:21 on Thursday, September the 09th, 2021.

# Allocation of Costs To Cost Centers
## Costs to be allocated:
- Depreciation
- Building Taxes
- Other Expenses

## Buildings/ Departments/ Cost Centers
**Times are generated by costing program based on a reasonable model**
**Changes to times require chagnes to rates**
**Costs at uncosted work centers aren't free, they are included in the burdend rate of the driver**
- Moravia (MOR)
    - Sheetmetal (SM)
        - Cutting (CUT); Driver is cutting time
        - Bending, welding, pemming (OTH); Driver is bend or weld time.  This includes welding of CAC pipes
        - CAC tubing (TUB); Driver is time.  Includes bend, cut, debur beading, etc.
- New Butler Road (NBR)
- Velocity (VEL)
    - Light assembly, HEX assembly (AS)
        - ASY; Driver is assembly time.
    - Aluminum (AL)
        - Machining, Robot welding, hand welding, leak testing (ALU); Driver is welding and machine hours
    
**Note:**  For simplification, light assembly is being treated as though it is in velocity.  The justification for this is that the jobs are similar, the capital equipment is small, the light assembly area is small, and both groups report to the same manager.

**Note:**  Due to similar nature of machines and work and the difficulty separating employees between tasks, the machining group and the Aluminum group are being treated as one cost center.  The driver is time, either robot weld, hand weld or machining.

## Buildings and Cost Center Information
**MOR:** Warehouse/ manufacturing area is divided into equal parts CUT, OTH, TUB and warehouse.

**NBR:** Warehouse/ manufacturing area is considered to be 100% warehouse.

**VEL:** 

- 20% AS
- 20% AL
- 40% Warehouse
- 20% SG&A (Quality)

In [2]:
def saveAsCsv(df, fname, folder=SOURCE_FILE_FOLDER):
    # Saves dataframe as a csv file
    # example call: saveAsCsv(buildDf, 'build.csv')
    df.to_csv(folder+f'{fname}',index=None)

In [3]:
def formatNums(dfInp):
    df=dfInp.copy()
    lst = list(df.columns)
    for c in lst:
        try:
            df[c] = df[c].astype(int).apply(lambda x: f'{x:,}')
        except:
            pass
    return df

In [4]:
buildDf     = pd.read_csv(SOURCE_FILE_FOLDER +'build.csv')  # Stores building total, office and work center areas
buildDeptDf = pd.read_csv(SOURCE_FILE_FOLDER +'buildDept.csv') # Defines department codes. 
                                                               # Building and department form primary key
deptCcDf    = pd.read_csv(SOURCE_FILE_FOLDER +'deptCc.csv') # Defines cost centers ID, code and areas. 
formatNums(buildDf)

  Building bCode TotAreaSqft OfficeAreaSqft WarehouseAreaSqft
0      MOR     1      40,100         16,100             6,000
1      NBR     2      64,000          8,000            56,000
2      VEL     3      56,000         11,200            22,400

In [5]:
df0 = deptCcDf.set_index('Department').join(buildDeptDf.set_index('Department')).reset_index()
df = df0.set_index('Building').join(buildDf[['Building', 'bCode']].set_index('Building')).reset_index()
df = df[['Building','Department', 'CostCenter','ccSqft','bCode','dCode','cCode']]
df['Code'] = 100*df['bCode']+10*df['dCode']+df['cCode']
df = df[['Building','Department', 'CostCenter','ccSqft','Code','bCode','dCode','cCode']]
df = df.sort_values(['Code']).reset_index(drop=True)
df['Desc']=df['Building']+'_'+df['Department']+'_'+df['CostCenter']
costCenterDf = df
formatNums(costCenterDf)

  Building Department CostCenter  ccSqft Code bCode dCode cCode        Desc
0      MOR         SM        CUT   6,000  111     1     1     1  MOR_SM_CUT
1      MOR         SM        OTH   6,000  112     1     1     2  MOR_SM_OTH
2      MOR         SM        TUB   6,000  113     1     1     3  MOR_SM_TUB
3      VEL         AS        ASY  11,200  311     3     1     1  VEL_AS_ASY
4      VEL         AL        ALU  11,200  321     3     2     1  VEL_AL_ALU

In [6]:
buildCcAreaDf = df[['Building', 'Department', 'ccSqft']].groupby('Building')['ccSqft'].sum().reset_index()
buildDf = buildDf.set_index('Building').join(buildCcAreaDf.set_index('Building')).reset_index().fillna(0)
buildDf['AreaError'] = buildDf['TotAreaSqft'] - buildDf['OfficeAreaSqft'] - buildDf['WarehouseAreaSqft'] - buildDf['ccSqft']
#print('Confirm building totals are accurate:')
buildDf.rename(columns={'ccSqft':'CostCentersAreaSqft'},inplace=True)
buildDf.loc[:,['Building', 'AreaError']]

  Building  AreaError
0      MOR        0.0
1      NBR        0.0
2      VEL        0.0

In [7]:
# Add Building and Department Codes/ Description
bCodeDescDf = buildDf.loc[:,['Building', 'bCode']]
bCodeDescDf['Code']=bCodeDescDf['bCode']*100
bCodeDescDf.set_index('Code',inplace=True)
bCodeDescDf=bCodeDescDf[['Building']]
bCodeDescDf.columns=['Desc']

deptCodeDescDf = costCenterDf.loc[:,['Building', 'Department', 'bCode', 'dCode']]
deptCodeDescDf.drop_duplicates(inplace=True)
deptCodeDescDf['Code']=deptCodeDescDf['bCode']*100+deptCodeDescDf['dCode']*10
deptCodeDescDf=deptCodeDescDf.loc[:,['Department', 'Code']]
deptCodeDescDf.set_index('Code', inplace=True)
deptCodeDescDf.columns=['Desc']

## Code Descriptions

In [8]:
codeNotCcDf = pd.read_csv(SOURCE_FILE_FOLDER +'codeDesc.csv') # stores descriptions and codes for 
                                                              # non-cost center codes (building, etc.)
codeNotCcDf['Code']=codeNotCcDf['Code'].astype(int)
codeNotCcDf = codeNotCcDf.sort_values(['Code']).reset_index(drop=True)
codeNotCcDf.set_index('Code', inplace=True)
codeDescDf = pd.concat([costCenterDf[['Code','Desc']].set_index('Code'), bCodeDescDf, deptCodeDescDf, codeNotCcDf])
codeDescDf.sort_values('Code', inplace=True)
codeDescDf.reset_index(inplace=True)
codeDescDf.drop_duplicates(inplace=True)
codeDescDf.set_index('Code', inplace=True)
#saveAsCsv(codeDescDf.reset_index(),'codeDesc.csv')
codeDescDf

                      Desc
Code
-10               IntMoves
-5    IncludedInTaxSection
-2           ContraRevenue
-1                 Product
 0                  RCPall
 1                  RCPman
 2             ManEmployee
 3              ExpTooling
 4                  ExpGas
 5               ExpRepair
 6             ExpSupplies
 100                   MOR
 110                    SM
 111            MOR_SM_CUT
 112            MOR_SM_OTH
 113            MOR_SM_TUB
 180                 MORwh
 190             MORoffice
 200                   NBR
 280                 NBRwh
 290             NBRoffice
 300                   VEL
 310                    AS
 311            VEL_AS_ASY
 320                    AL
 321            VEL_AL_ALU
 370                 AL_AS
 380                 VELwh
 390             VELoffice
 401                 Molds
 501                  Odoo
 900                RCPsga
 901                 Sales
 902            Operations
 903             Shipping
 904           Engineering
 905               Quality
 906                    IT
 910                 Sales
 920            Operations
 930               Quality
 940           Engineering
 949                 RandD
 980             Warehouse

## Area Splits
- Breaks apart Building Information and gets it into codes for allocation by area

In [9]:
def addDesc(outDf, descDf=codeDescDf):
    cList = outDf.columns.values.tolist()
    cols = ['Desc']+cList
    outDf=outDf.join(descDf)
    outDf = outDf[cols]
    return outDf

In [10]:
codeCcAreaDf = costCenterDf.copy()
codeCcAreaDf = codeCcAreaDf[['Code', 'ccSqft']]
codeCcAreaDf.columns = ['Code','area']

codeWhAreaDf = buildDf.copy()[['bCode','WarehouseAreaSqft']]
codeWhAreaDf['Code'] = codeWhAreaDf['bCode']*100+80
codeWhAreaDf=codeWhAreaDf[['Code','WarehouseAreaSqft']]
codeWhAreaDf.columns=['Code','area']

codeOfAreaDf = buildDf.copy()[['bCode','OfficeAreaSqft']]
codeOfAreaDf['Code'] = codeOfAreaDf['bCode']*100+90
codeOfAreaDf=codeOfAreaDf[['Code','OfficeAreaSqft']]
codeOfAreaDf.columns=['Code','area']

codeAreaDf = pd.concat([codeCcAreaDf, codeWhAreaDf, codeOfAreaDf])
codeAreaDf.sort_values(['Code']).reset_index(inplace=True)
codeAreaDf.set_index('Code', inplace=True)
addDesc(codeAreaDf)
#formatNums(addDesc(codeAreaDf)).sort_values('Code')

            Desc   area
Code
111   MOR_SM_CUT   6000
112   MOR_SM_OTH   6000
113   MOR_SM_TUB   6000
311   VEL_AS_ASY  11200
321   VEL_AL_ALU  11200
180        MORwh   6000
280        NBRwh  56000
380        VELwh  22400
190    MORoffice  16100
290    NBRoffice   8000
390    VELoffice  11200

## Labor Splits
**source:**  'Work Centers 08 11 21.xlsx from Carla Richardson in e-mail sent on 8/12/21
**ID stripped and resorted:** Labor by WC 08 11 21

### Data is for pay period ending 8/7/21

Becasue the rates are similar, allocating labor costs based on cost center head count was selected.

**NOTE:** Lloyd Harlan is included in the AL/MAC department; Troy Boron is not included in any department.

In [11]:
codeHeadCountDf = pd.read_csv(SOURCE_FILE_FOLDER +'manHeadCount.csv')
codeHeadCountDf.sort_values(['Code']).reset_index(inplace=True)
codeHeadCountDf.set_index('Code', inplace=True)
addDesc(codeHeadCountDf)

            Desc  headCount
Code
111   MOR_SM_CUT       1.94
112   MOR_SM_OTH      12.94
113   MOR_SM_TUB       2.12
311   VEL_AS_ASY      13.00
321   VEL_AL_ALU       9.00

In [12]:
hcSM = codeHeadCountDf.loc[111,'headCount']+codeHeadCountDf.loc[112,'headCount']+codeHeadCountDf.loc[113,'headCount']
hcAS = codeHeadCountDf.loc[311,'headCount']
hcAL = codeHeadCountDf.loc[321,'headCount']

print('Total Head Counts')
print(f"Sheet Metal       Head Count: {hcSM:0.0f}")
print(f"Assembly          Head Count: {hcAS:0.0f}")
print(f"Aluminum          Head Count: {hcAL:0.0f}")
print(f"All Manufacturing Head Count: {hcSM+hcAS+hcAL:0.0f}")

Total Head Counts
Sheet Metal       Head Count: 17
Assembly          Head Count: 13
Aluminum          Head Count: 9
All Manufacturing Head Count: 39

## Allocation Method Definition
Deprciation is allocated based on infor in the **codeChildParent.csv** file
- Stores Code, Children, bases (equal, area or given allocation), and Parent
- Numbers are separated with a single space
- A code can have any number of children
- A code can have no or one Parent
- Codes that are not cost centers should have children or a parent

In [13]:
codeChildParentDf = pd.read_csv(SOURCE_FILE_FOLDER +'codeChildParent.csv')
# Stores Code, Children, bases (equal, area or given allocation), and Parent
# Numbers are separated with a single space
# A code can have any number of children
# A code can have no or one Parent
# Codes that are not cost centers should have children or a parent
codeChildParentDf['Children'].replace({np.nan:None}, inplace=True)
codeChildParentDf['Basis'].replace({np.nan:None}, inplace=True)
codeChildParentDf['Parent'].replace({np.nan:None}, inplace=True)
codeChildParentDf = codeChildParentDf.sort_values(['Code']).reset_index(drop=True)
children = []
for i in codeChildParentDf['Children']:
    if i is None:
        children.append(i)
    if isinstance(i,str):
        kids = [int(x) for x in i.split()]
        children.append(kids)
    if isinstance(i,float):
        kid = [int(i)]
        children.append(kid)
codeChildParentDf['Children'] = children
codeChildParentDf.set_index('Code',inplace=True)

codeChildParentViewDf=codeChildParentDf.copy()
codeChildParentViewDf.Parent.values
parents = codeChildParentViewDf.Parent.values
pList = []
for p in parents:
    try:
        intP=int(p)
        pList.append(str(intP))
    except:
        pList.append(None)
codeChildParentViewDf['Parent']=pList
print(f" AllRCP Children: {codeChildParentViewDf.loc[0,'Children']}")
addDesc(codeChildParentViewDf)

 AllRCP Children: [111, 112, 113, 311, 321, 180, 190, 280, 290, 380, 390]

,Desc,Children,Basis,Parent
Code,,,,
-10,IntMoves,None,None,None
-5,IncludedInTaxSection,None,None,None
-2,ContraRevenue,None,None,None
-1,Product,None,None,None
0,RCPall,"[111, 112, 113, 311, 321, 180, 190, 280, 290, ...",area,None
1,RCPman,"[111, 112, 113, 311, 321]",equal,None
2,ManEmployee,"[111, 112, 113, 311, 321]",headCount,None
3,ExpTooling,"[-1, 111, 113, 321]",.251 .514 .033 .203,None
4,ExpGas,"[111, 321, 900]",50 25 25,None
5,ExpRepair,"[111, 900]",1 3,None
6,ExpSupplies,"[111, 112, 311]",33 17 48,None
100,MOR,"[111, 112, 113, 180, 190]",area,None
110,SM,"[111, 112, 113]",equal,None
111,MOR_SM_CUT,None,None,None
112,MOR_SM_OTH,None,None,None
180,MORwh,None,None,900
190,MORoffice,None,None,900
200,NBR,"[280, 290]",area,None
280,NBRwh,None,None,900
290,NBRoffice,None,None,900
300,VEL,"[311, 321, 380, 390]",area,None
311,VEL_AS_ASY,None,None,None
321,VEL_AL_ALU,None,None,None
370,AL_AS,"[311, 321]",1 1,None
380,VELwh,None,None,900
390,VELoffice,None,None,900
401,Molds,None,None,321
501,Odoo,None,None,900
900,RCPsga,None,None,None
910,Sales,None,None,900
920,Operations,None,None,900
930,Quality,None,None,900
940,Engineering,None,None,900
949,RandD,None,None,900
980,Warehouse,None,None,900

In [14]:
def getValue(Code, codeDf, cName):
    # codeDf is a dataframe with:
    # Code as the index
    # Value (examples inlude Area (in sqft) and headCount (in numEmployees) as a column
    return codeDf.loc[Code,cName]

In [15]:
def allocate(codeChildParentDf, dfInput, costName, codeAreaDf, codeHeadCountDf):
    # codeChildParentDf is used to allocate costs.  It is a dataframe with
    # Code as the index, and columns Childre, Basis and Parent
    # Children can be None, or a list of codes to allocate.
    # Basis can be:
    # equal (split equally between children)
    # area (split according to area)
    # manual (list of numbers representing, in order, the relative amount allocated to each child)
    # -- these numbers are normalized, so they don't need to add to one and can represent any measure.
    # Parent can be None, or the Code to allocate the cost
    # EVERY Code that is not a cost center must have children or a parent!
    #
    # dfInput contains the costs to be allocated
    # The Code is the index
    # costName is the name of the column for which costs maust be allocated
    # ChildAllocateAdj,  ChildAllocateAdjusted, ParentAllocateAdj and ParentAllocateAdjusted
    # are intermediate columns added to the df dataframe
    # ccCost is the cost that has been allocated to the cost centers
    # df is returned
    
    df = dfInput.copy()

    df['ChildAllocateAdj']=0
    for c in codeChildParentDf.index:
        kids = codeChildParentDf.loc[c,'Children']
        method = codeChildParentDf.loc[c,'Basis']
        #print(f"{c=}; {method=}; {kids=}")
        if kids != None:
            cont=True
            try:
                totAllocate = df.loc[c,costName]
            except:
                cont = False
            #print(f"{method=}")
            if cont==True:
                df.loc[c,'ChildAllocateAdj'] = -1*df.loc[c,costName]
                if method=='equal':
                    #print('In Equal')
                    perAllocate = totAllocate*1.0/len(kids)
                    #print(f"{perAllocate*len(kids)-1*df.loc[c,costName]=};{perAllocate=}")
                    for k in kids:
                        df.loc[k,'ChildAllocateAdj']=df.loc[k,'ChildAllocateAdj']+perAllocate
                if method=='area':
                    #print('In Area')
                    areas = []
                    for k in kids:
                        areas.append(getValue(k, codeAreaDf,method))
                    perAllocate=areas/sum(areas)*totAllocate
                    #print(f"{perAllocate.sum()-1*df.loc[c,costName]=};{perAllocate=}")
                    for k, adj in zip(kids, perAllocate):
                        df.loc[k,'ChildAllocateAdj']=df.loc[k,'ChildAllocateAdj']+adj
                if method=='headCount':
                    #print('In HeadCount')
                    headCounts=[]
                    for k in kids:
                        headCounts.append(getValue(k, codeHeadCountDf, method))
                    perAllocate=headCounts/sum(headCounts)*totAllocate
                    #print(f"{perAllocate.sum()-1*df.loc[c,costName]=};{perAllocate=}")
                    for k, adj in zip(kids, perAllocate):
                        df.loc[k,'ChildAllocateAdj']=df.loc[k,'ChildAllocateAdj']+adj
                    #print(f"{c=} {kids=}; {headCounts=}; {perAllocate=}")
                try:
                    floats = np.array(list(map(float,method.split())))
                    perAllocate = floats/sum(floats)*totAllocate
                    #print(f"{perAllocate.sum()-1*df.loc[c,costName]=};{perAllocate=}")
                    for k, adj in zip(kids, perAllocate):
                        df.loc[k,'ChildAllocateAdj']=df.loc[k,'ChildAllocateAdj']+adj
                    #print('In Custom')
                except:
                    pass
    df['ChildAdjusted'] = df[costName]+df['ChildAllocateAdj']

    # Allocate Parents -- MUST BE DONE AFTER CHILD ALLOCATIONS
    df['ParentAllocateAdj']=0.0
    for c in codeChildParentDf.index:
        parent = codeChildParentDf.loc[c,'Parent']
        if parent != None:
            cont=True
            try:
                totParentAllocate = df.loc[c,'ChildAdjusted']
            except:
                cont = False
            if cont==True:   
                df.loc[c,'ParentAllocateAdj'] = -1*totParentAllocate
                df.loc[parent,'ParentAllocateAdj']=df.loc[parent,'ParentAllocateAdj']+totParentAllocate
    df['ccCost'] = df['ChildAdjusted']+df['ParentAllocateAdj']
    
    return df

## Depreciation Allocation
**Source:** MAS500 Report

**File** Q:\OdooMigration\Accounting\depreciation.msg attachement: **Copy of GAAP Depreciation Comprehensive Depreciation Letter Size 1.xls**

Edited and saved into Depr_8_10_2021.csv

**DateRun:** 8/10/2021

In [16]:
def addcDescCol(outDf, descDf=codeDescDf):
    descDf = descDf.copy()
    descDf.reset_index(inplace=True)
    descDf.columns=['Code','cDesc']
    outDf = pd.merge(
        outDf,
        descDf,
        how="left",
        )
    return outDf

In [17]:
assetIdCodeDf = pd.read_csv(SOURCE_FILE_FOLDER +'assetIdCode.csv', converters={'AssetID': lambda x: str(x)})
# stores a link between asset IDs and thier Codes
depDf = pd.read_csv(SOURCE_FILE_FOLDER +'Depr_8_10_2021.csv', converters={'AssetID': lambda x: str(x)})
# see note above.  Contains AssetID, Desc, DeprYTD
depDf = depDf.set_index('AssetID').join(assetIdCodeDf.set_index('AssetID')).reset_index()

In [18]:
depDfView=depDf.copy()
depDfView = depDfView.loc[depDfView['DeprYTD']>0.01]
depDfView.sort_values(by=['Code','DeprYTD'],ascending=[True, False], inplace=True)
depDfView['DeprYTD']=depDfView['DeprYTD'].apply(lambda x : "{:,.2f}".format(x))
depDfView = addcDescCol(depDfView)
depDfView

,AssetID,Desc,DeprYTD,Code,cDesc
0,000481,Compressor at Moravia,"1,929.44",110,SM
1,000485,Oil Pump for Machine Maintenance,250.44,110,SM
2,000499,Tru Laser 2030 Fiber,"54,755.04",111,MOR_SM_CUT
3,000522,TruLaser 3030 Fiber - Upgarde,"33,535.23",111,MOR_SM_CUT
4,000502,TruPunch (S18),"30,041.31",111,MOR_SM_CUT
5,000500,Tru Laser - Liftmaster Shuttle,"14,901.00",111,MOR_SM_CUT
6,000504,TruPunch Sheet Master Compact Basic,"9,958.69",111,MOR_SM_CUT
7,000554,Laser 3030 Kits,"2,056.96",111,MOR_SM_CUT
8,000510,Punch Tooling - 43 Pieces,"1,665.61",111,MOR_SM_CUT
9,000503,Tank Pads - Moravia - for bulk holding tanks f...,"1,414.93",111,MOR_SM_CUT
10,000640,Punch Tooling,"1,110.97",111,MOR_SM_CUT
11,000509,Punch Tooling - 16 Pieces,"1,103.83",111,MOR_SM_CUT
12,000507,Nitrogen and Oxygen Piping to Laser,963.01,111,MOR_SM_CUT
13,000532,Punch Tooling,884.93,111,MOR_SM_CUT
14,000508,Deliver TruPunch,560.00,111,MOR_SM_CUT
15,000630,Servometer - 2000 Punch,392.78,111,MOR_SM_CUT
16,000501,2 Manifolds 260 Brass High Flow for New Laser,340.80,111,MOR_SM_CUT
17,000459,Conveyor for Trumpf Punch,306.19,111,MOR_SM_CUT
18,000511,"6"" high Chainlink fence around gas tanks - Mor...",264.58,111,MOR_SM_CUT
19,000506,Additional Prep work around Tank pads for gas ...,253.52,111,MOR_SM_CUT
20,000632,2510 & 3030 Laser Punch Parts,211.43,111,MOR_SM_CUT
21,000524,Punch Tooling - Extrusion Assembly,150.08,111,MOR_SM_CUT
22,000549,TruBend 5085,"22,824.24",112,MOR_SM_OTH
23,000513,Tu Bend 5085 (B23) SX - Press Breake,"22,504.52",112,MOR_SM_OTH
24,000463,TruBend 7036,"13,916.11",112,MOR_SM_OTH
25,000523,TruBend 7036,"13,417.50",112,MOR_SM_OTH
26,000514,Press Breake Tooling for New Machine,"1,440.51",112,MOR_SM_OTH
27,000515,Punch and Die for new Press Breake,"1,348.97",112,MOR_SM_OTH
28,000555,MIG Welder Steel,"1,049.23",112,MOR_SM_OTH
29,000527,Tru Tool - TSC 100,919.57,112,MOR_SM_OTH
30,000526,Brake Tooling - 1 Punch & 1 Die,844.11,112,MOR_SM_OTH
31,000516,Cabinet for new Press Breake Tooling,469.00,112,MOR_SM_OTH
32,000426,Bluco Fixture Table for Deutz,326.47,112,MOR_SM_OTH
33,000559,Punch Tooling,297.07,112,MOR_SM_OTH
34,000521,Hand Held Plasma Cutter,283.38,112,MOR_SM_OTH
35,000438,Large Chiller-Spot Welder,34.29,112,MOR_SM_OTH
36,000474,Current Monitor & Pressure Transducer - Weld N...,21.99,112,MOR_SM_OTH
37,000520,Hines Model 300 CNC Tube Bender,"13,764.23",113,MOR_SM_TUB
38,000464,Tube Bender,"4,337.45",113,MOR_SM_TUB
39,000538,Tube End Finishing Machine,"3,635.63",113,MOR_SM_TUB
40,000533,Tooling for Tube End Finishing Machine,"1,975.60",113,MOR_SM_TUB
41,000539,Rebuld old Tube end Finishing machine,"1,942.86",113,MOR_SM_TUB
42,000531,Pipe Notching Machine,"1,134.95",113,MOR_SM_TUB
43,000489,Pipe Bending Tooling,652.94,113,MOR_SM_TUB
44,000540,Tooling for Tub end finishing machine,560.00,113,MOR_SM_TUB
45,000556,Metal Cutting Band Saw,182.29,113,MOR_SM_TUB
46,000427,"Tube Bender, Expander reducer machine",61.36,113,MOR_SM_TUB
47,000512,Used Forklift for Raw Material - Moravia,"3,467.71",180,MORwh
48,000528,50 black bins,"1,192.86",180,MORwh
49,000534,Steel Racking -Moravia,"1,033.22",180,MORwh
50,000544,Steel Racking x25,615.86,180,MORwh
51,000374,Office Renovations Mar & Apr,"8,869.81",200,NBR
52,000371,Duct Work,"1,822.92",200,NBR
53,000368,Heating & Air Conditioning,"1,337.89",200,NBR
54,000372,General Wiring Offices,"1,305.31",200,NBR
55,000541,Highway Connector & Parking Lot Drainage- New ...,844.46,200,NBR
56,000373,Office Front Glass Work,460.73,200,NBR
57,000643,Exterior Lighting - 1900 New Butler,384.23,200,NBR
58,000545,2 Toyota Fork Lifts,"6,351.14",280,NBRwh
59,000627,Shelving - 1900 New Butler,"3,611.47",280,NBRwh
60,000519,140 Black Bins,"3,348.29",280,NBRwh
61,000529,Toyota Small New Butler Lite Assembly,"3,284.99",280,NBRwh
62,000530,Toyota Large New Butler Warehouse,"3,284.99",280,NBRwh
63,000546,Large Steel Racking x25,"1,126.69",280,NBRwh
64,000537,30 Black Bins,728.05,280,NBRwh
65,000536,25 Wire Containers,724.96,280,NBRwh
66,000453,Floor Scale - New Butler,388.72,280,NBRwh
67,000449,Gray Warehouse Reacking - New Butler,287.42,280,NBRwh
68,000452,Racking - New Butler,222.89,280,NBRwh
69,000487,Security Cameras - Moravia & New Butler,"1,339.55",290,NBRoffice
70,000369,Office Renovation & Roof Replacement Jan & Feb,"5,855.24",300,VEL
71,000567,"Kitchen, Bathrooms & Hallways - 1902 New Butler","4,617.77",300,VEL
72,000543,Exit Signage & Install - 1902 New Butler,"1,305.95",300,VEL
73,000563,Equipment Hook up with Conduit to Breaker boxe...,"1,039.28",300,VEL
74,000641,Relocation of Mfg Cranes to 1902 New Butler,716.21,300,VEL
75,000560,Internal Wiring - 1902 New Butler,622.87,300,VEL
76,000562,Breaker Box Rewiring - 1902 New Butler,147.43,300,VEL
77,000642,Sprinkler System - 1902 New Butler,76.06,300,VEL
78,000498,40 Manufacturing Carts - New Butler,"2,002.90",311,VEL_AS_ASY
79,000565,Gorbel Free Standing Crane - 1902 New Butler,321.37,311,VEL_AS_ASY
80,000535,Bench Scale - New Butler,300.74,311,VEL_AS_ASY
81,000557,Torque Tester,157.89,311,VEL_AS_ASY
82,000547,Robotic Welder - 1902 New Butler Road,"15,866.73",321,VEL_AL_ALU
83,000548,Robotic Welder - 1902 New Butler Road,"15,709.63",321,VEL_AL_ALU
84,000457,Robotic Welder #2,"15,158.11",321,VEL_AL_ALU
85,000458,Robotic Welder #3,"15,158.11",321,VEL_AL_ALU
86,000550,Vertical Machining Center - Genos M560V,"11,500.00",321,VEL_AL_ALU
87,000460,OKUMA 3000 Lathe,"10,833.32",321,VEL_AL_ALU
88,000572,Robot Laser Sensor System,"3,918.09",321,VEL_AL_ALU
89,000553,2 TIG Welders - New Butler,"2,520.71",321,VEL_AL_ALU
90,000461,Fixture for New Robotic Welder,"2,263.91",321,VEL_AL_ALU
91,000631,Robot Harness Wiring,975.75,321,VEL_AL_ALU
92,000629,Pneumatic Press,724.29,321,VEL_AL_ALU
93,000561,Argon Extensions & Drops Install,400.00,321,VEL_AL_ALU
94,000495,Lincoln Welder from Velocity Building,357.14,321,VEL_AL_ALU
95,000484,Welder Arm,172.33,321,VEL_AL_ALU
96,000552,Compressor - 1902 New Butler,"5,475.67",370,AL_AS
97,000628,Leak Test Tank Enclosure 1902 New Butler,"1,489.75",370,AL_AS
98,000639,Leak Test Tank Fittings - 70 Eng Samples,"1,331.58",370,AL_AS
99,000558,Leak Test tank Fittings x128 - Start up items,"1,248.34",370,AL_AS
100,000566,Leak Tank Vertical air Receivers x4,"1,135.81",370,AL_AS
101,000638,6 Cylinders Leak Test Tank Auto Project,487.41,370,AL_AS
102,000635,Amazon Computers new leak test tank,342.77,370,AL_AS
103,000551,Steel Hoppers x2,358.66,380,VELwh
104,000542,Office Furniture - 1902 New Butler,"3,329.13",390,VELoffice
105,000377,Final Office renovations June,"2,688.33",390,VELoffice
106,000525,2 Alum Molds 327-005 & 006,"4,750.83",401,Molds
107,000493,2 Mold Cylinders - Ritter Technology LLC,336.83,401,Molds
108,000490,2 Mold Cylinders,322.80,401,Molds
109,000488,2 Mold Cylinders,322.80,401,Molds
110,000482,2 Mold Cylinders,322.80,401,Molds
111,000483,2 Mold Cylinders,322.80,401,Molds
112,000644,Odoo Implementation Hours,"3,541.67",501,Odoo
113,000571,5 Engineering Computers,"2,199.50",900,RCPsga
114,000480,Leased Furniture for Florida Guest House,"1,651.93",900,RCPsga
115,000479,Leased Furniture for Florida Guest House,"1,407.49",900,RCPsga
116,000637,3 computers for inventory control,664.74,900,RCPsga
117,000633,3 printers for non alum line,618.19,900,RCPsga
118,000636,2 computers for inventory,409.95,900,RCPsga
119,000564,Surface Pro - Jen P,404.09,900,RCPsga
120,000505,Surface Pro Computer,403.24,900,RCPsga
121,000634,4 computers for inventory process control,391.28,900,RCPsga
122,000492,3 Computer Servers - Upgrades,335.68,900,RCPsga
123,000496,Computer - Edney,95.95,900,RCPsga
124,000491,DJR Computer - Dell Venue 11 Pro,22.99,900,RCPsga
125,000441,Chiller-Thermal Cycle Tester,240.53,949,RandD
126,000440,Thermal Cycle Testing Imaging Camera,23.87,949,RandD
127,000454,50 Black Bins,"1,101.18",980,Warehouse
128,000283,Catch Basin & Dock Apron,597.61,980,Warehouse
129,000448,40 Black Bins,264.30,980,Warehouse

In [19]:
############# MAKE SURE TO CHECK MONTHS_YTD!!!! ######################
MONTHS_YTD=7
depCodeDf = depDf.groupby('Code')['DeprYTD'].sum().reset_index()
depCodeDf.loc[len(depCodeDf.index)] = [190, 0]
depCodeDf['DeprAnnUnallocated']=12/MONTHS_YTD*depCodeDf['DeprYTD']
depCodeDf.set_index('Code',inplace=True)

In [20]:
depCodeDf = allocate(codeChildParentDf, depCodeDf, 'DeprAnnUnallocated', codeAreaDf, codeHeadCountDf)
formatNums(addDesc(depCodeDf).round())

,Desc,DeprYTD,DeprAnnUnallocated,ChildAllocateAdj,ChildAdjusted,ParentAllocateAdj,ccCost
Code,,,,,,,
0,RCPall,0,0,0,0,0,0
110,SM,"2,180","3,737","-3,737",0,0,0
111,MOR_SM_CUT,"154,871","265,493","1,246","266,739",0,"266,739"
112,MOR_SM_OTH,"79,697","136,623","1,246","137,869",0,"137,869"
113,MOR_SM_TUB,"28,247","48,424","1,246","49,670",0,"49,670"
180,MORwh,"6,310","10,817",0,"10,817","-10,817",0
200,NBR,"15,025","25,758","-25,758",0,0,0
280,NBRwh,"23,360","40,045","22,538","62,583","-62,583",0
290,NBRoffice,"1,340","2,296","3,220","5,516","-5,516",0
300,VEL,"14,381","24,653","-24,653",0,0,0
311,VEL_AS_ASY,"2,783","4,771","14,797","19,568",0,"19,568"
321,VEL_AL_ALU,"95,558","163,814","14,797","178,611","10,935","189,547"
370,AL_AS,"11,511","19,734","-19,734",0,0,0
380,VELwh,359,615,"9,861","10,476","-10,476",0
390,VELoffice,"6,017","10,316","4,931","15,246","-15,246",0
401,Molds,"6,379","10,935",0,"10,935","-10,935",0
501,Odoo,"3,542","6,071",0,"6,071","-6,071",0
900,RCPsga,"8,605","14,751",0,"14,751","114,528","129,279"
949,RandD,264,453,0,453,-453,0
980,Warehouse,"1,963","3,365",0,"3,365","-3,365",0
190,MORoffice,0,0,0,0,0,0

In [21]:
#print(f"{depCodeDf.loc[:,'ChildAllocateAdj'].sum().round(4)=}")
#print(f"{depCodeDf.loc[:,'ParentAllocateAdj'].sum().round(4)=}")

print(f"Sum of Child  Adjustment Check: {depCodeDf.loc[:,'ChildAllocateAdj'].sum().round(4)}")
print(f"Sum of Parent Adjustment Check: {depCodeDf.loc[:,'ParentAllocateAdj'].sum().round(4)}")

Sum of Child  Adjustment Check: 0.0
Sum of Parent Adjustment Check: 0.0

## Building Tax Allocation
**Source:**  Paper files from Carla

In [22]:
buildTaxDf = pd.read_csv(SOURCE_FILE_FOLDER +'buildTaxes.csv')
buildTaxDf.set_index('Code',inplace=True)
buildTaxDf.fillna(0,inplace=True)
buildTaxDf = allocate(codeChildParentDf, buildTaxDf, 'Total', codeAreaDf, codeHeadCountDf)
formatNums(addDesc(buildTaxDf))

,Desc,BuildName,School,City,County,NCpriv,Total,ChildAllocateAdj,ChildAdjusted,ParentAllocateAdj,ccCost
Code,,,,,,,,,,,
100,MOR,MOR/ R2,"19,077","10,537","6,355","2,000","37,969","-37,969",0,0,0
200,NBR,NBR/ R3,"13,073","2,910","7,328",0,"23,313","-23,313",0,0,0
300,VEL,VEL/ R3,"6,693","1,490","3,752",0,"11,936","-11,936",0,0,0
111,MOR_SM_CUT,0,0,0,0,0,0,"5,681","5,681",0,"5,681"
112,MOR_SM_OTH,0,0,0,0,0,0,"5,681","5,681",0,"5,681"
113,MOR_SM_TUB,0,0,0,0,0,0,"5,681","5,681",0,"5,681"
311,VEL_AS_ASY,0,0,0,0,0,0,"2,387","2,387",0,"2,387"
321,VEL_AL_ALU,0,0,0,0,0,0,"2,387","2,387",0,"2,387"
900,RCPsga,0,0,0,0,0,0,0,0,"51,400","51,400"
180,MORwh,0,0,0,0,0,0,"5,681","5,681","-5,681",0
190,MORoffice,0,0,0,0,0,0,"15,244","15,244","-15,244",0
280,NBRwh,0,0,0,0,0,0,"20,398","20,398","-20,398",0
290,NBRoffice,0,0,0,0,0,0,"2,914","2,914","-2,914",0
380,VELwh,0,0,0,0,0,0,"4,774","4,774","-4,774",0
390,VELoffice,0,0,0,0,0,0,"2,387","2,387","-2,387",0

In [23]:
#print(f"{buildTaxDf['Total'].sum().round(2)            = }")
#print(f"{buildTaxDf['ccCost'].sum().round(2)           = }")
#print(f"{buildTaxDf['ChildAdjusted'].sum().round(2)    = }")
#print(f"{buildTaxDf['ChildAllocateAdj'].sum().round(2) = }")
#print(f"{buildTaxDf['ParentAllocateAdj'].sum().round(2)= }")

print(f"Sum of Building Taxes:          {buildTaxDf['Total'].sum():,.0f}")
print(f"Sum of Cost Center Cost:        {buildTaxDf['ccCost'].sum():,.0f}")
print(f"Sum of Child  Adjustment Check: {buildTaxDf['ChildAllocateAdj'].sum().round(2)}")
print(f"Sum of Parent Adjustment Chick: {buildTaxDf['ParentAllocateAdj'].sum().round(2)}")

Sum of Building Taxes:          73,219
Sum of Cost Center Cost:        73,219
Sum of Child  Adjustment Check: 0.0
Sum of Parent Adjustment Chick: 0.0

## Other Expense Allocation
**source:**  query performed by Sam Audia.  This was the basis of the 'ExpenseAccountTotalsThroughJuly2021.xlxs' file
- Added codes.
- Stored account to codes in 'expAccountCode.csv'
- Stored inputs to 'Exp_8_30_21.csv'
- Methods for breaking up accounts are given in ExpenseAccountTransactions for accounts 50450 50465 50470 50500

### Methods for expense account allocation:
- Accounts that flow to the products, or to inventory are not used as a basis for the cost center costs
- 50450 (Tooling): Each item was coded.  Totals were allocated based on the calculation.  
- 50465 (Gas): 1/2 to SM CUT; 1/4 to SG&A; 1/4 to AL ALU
- 50470 (Repairs):  1/4 to SM CUT, 3/4 to SG&A
- 50500 (Supplies): approx 33% to SM CUT; 17% to SM OTH; 13% to AS ASY; 35% to AL ALU

In [24]:
expAccountCodeDf = pd.read_csv(SOURCE_FILE_FOLDER +'expAccountCode.csv', converters={'GLAcctNo': lambda x: str(x)})
# stores a link between the expense account General Ledger and thier Codes
expDf = pd.read_csv(SOURCE_FILE_FOLDER +'Exp_8_30_21.csv', converters={'GLAcctNo': lambda x: str(x)})
# see note above.  Contains GLAcctKey, GLAcctNo, Description, Total *** Total is through 7/21 ***
expDf = expDf.set_index('GLAcctNo').join(expAccountCodeDf.set_index('GLAcctNo')).reset_index()
expDf['Total']=expDf['Total'].astype(int)

In [25]:
viewExpDf = addcDescCol(expDf.sort_values(['Code','Total'], ascending=[True,False],ignore_index=True)).copy()
viewExpDf['Total'] = viewExpDf['Total'].apply(lambda x: f'{x:,}')
viewExpDf

,GLAcctNo,GLAcctKey,Description,Total,Code,cDesc
0,520050000,854,Fixed Cap Abs,"350,000",-10,IntMoves
1,599010000,406,Misc Adj COGS,"70,920",-10,IntMoves
2,999980000,834,Mfg Variance,0,-10,IntMoves
3,513700000,832,Abs-Fixed Setup,"-5,970",-10,IntMoves
4,513800000,833,Abs- Var Setup,"-33,759",-10,IntMoves
5,513500000,830,Abs-Fixed Run,"-84,783",-10,IntMoves
6,745150000,857,COS Fix Cap Abs,"-350,000",-10,IntMoves
7,513000000,430,Assembly-Labor Abs,"-381,216",-10,IntMoves
8,513600000,831,Abs-Var Run,"-441,143",-10,IntMoves
9,722000000,343,"City School Tax, Moravia Bldg","7,875",-5,IncludedInTaxSection
10,722100000,923,School Tax - New Butler Road,"7,350",-5,IncludedInTaxSection
11,721000000,342,"City Tax, Moravia Building","6,825",-5,IncludedInTaxSection
12,723100000,924,County Tax - New Butler Road,"4,900",-5,IncludedInTaxSection
13,723000000,344,"County Tax, Moravia Bldg","4,200",-5,IncludedInTaxSection
14,722200000,986,"School Tax, 1902 New Butler","3,850",-5,IncludedInTaxSection
15,723200000,987,"County Tax, 1902 New Butler","2,625",-5,IncludedInTaxSection
16,721100000,922,Town Tax - New Butler Road,"1,925",-5,IncludedInTaxSection
17,720040000,341,"City, Mercantile Tax","1,166",-5,IncludedInTaxSection
18,721200000,985,"Town Tax, 1902 New Butler","1,050",-5,IncludedInTaxSection
19,505500000,278,COGS-Service Fee - JD,"50,774",-2,ContraRevenue
20,505510000,983,COGS-Service Fee - Yanmar,"36,453",-2,ContraRevenue
21,724000000,345,PA Sales Tax,"2,505",-2,ContraRevenue
22,500000000,261,Rads - Copper Brass-COGS,"4,114,805",-1,Product
23,500400000,267,Bracket Kits-COGS,"555,570",-1,Product
24,575020000,283,"Freight In, Ocean","411,455",-1,Product
25,500300000,266,Accessories-COGS,"281,746",-1,Product
26,500600000,269,Molded Hose-COGS,"224,428",-1,Product
27,500500000,268,Tanks-COGS,"195,930",-1,Product
28,500030000,418,Enclosures - COGS,"130,077",-1,Product
29,500250000,265,CAC Pipes-COGS,"113,235",-1,Product
30,500200000,264,Oil Coolers-COGS,"64,589",-1,Product
31,575000000,281,Freight In - COGS,"28,876",-1,Product
32,500100000,263,CAC-COGS,"26,130",-1,Product
33,511000000,396,Purchase Price Variance,"9,975",-1,Product
34,500900000,272,Hardware-COGS,"9,226",-1,Product
35,500800000,271,Spooled Hose-COGS,"8,407",-1,Product
36,999990000,382,Temporary Account,0,-1,Product
37,500010000,417,Rads - Aluminium - COGS,"-6,324",-1,Product
38,520000000,449,Freight Absorption,"-482,712",-1,Product
39,745100000,350,"Lease, Building","119,000",0,RCPall
40,780030000,370,"Utilities, Electric","62,640",0,RCPall
41,745000000,349,Rent or Lease Expense,"25,325",0,RCPall
42,780040000,372,"Utilities, Gas","14,807",0,RCPall
43,750000000,352,Repairs Expense,"11,577",0,RCPall
44,780020000,369,"Utilities, Water","10,017",0,RCPall
45,780050000,373,"Utilities, Sanitation","3,624",0,RCPall
46,712500000,337,Miscellaneous Expense,"2,061",0,RCPall
47,745200000,351,"Rental, Mats","1,454",0,RCPall
48,691000000,329,Lawn Care & Snow Removal,"1,040",0,RCPall
49,780100000,374,Security System,676,0,RCPall
50,745400000,847,Operating Leasehold Improvements,0,0,RCPall
51,730000000,347,Other Taxes,-125,0,RCPall
52,570000000,280,COGS-Salary - Mfg,"483,957",2,ManEmployee
53,570010000,998,COS Salary - Assembly,"205,777",2,ManEmployee
54,571250000,875,CGS Bene Health,"85,394",2,ManEmployee
55,504600000,276,Labor - COGS,"79,196",2,ManEmployee
56,571000000,837,COGS-Payroll Taxes,"60,702",2,ManEmployee
57,571500000,852,COGS Benefits,"18,982",2,ManEmployee
58,504500000,274,Tooling - COGS,"16,690",3,ExpTooling
59,504650000,896,Manuf Gas - COGS,"43,969",4,ExpGas
60,504700000,898,Manf Repairs CGS,"7,710",5,ExpRepair
61,505000000,277,Supplies - COS,"84,395",6,ExpSupplies
62,775000000,366,Wages Expense,"658,484",900,RCPsga
63,775004000,855,Wages Exp-Engineering,"327,891",900,RCPsga
64,775001000,685,Wages Exp-Sales,"136,869",900,RCPsga
65,690010000,328,Accountant Fees,"55,840",900,RCPsga
66,720000000,339,Payroll Tax Expense,"54,336",900,RCPsga
67,706000000,333,"Maintenance, Software","38,870",900,RCPsga
68,780010000,368,Telephone Expense,"38,010",900,RCPsga
69,751000000,353,Research & Development,"30,864",900,RCPsga
70,720004000,664,Payroll Tax Exp-Engineering,"27,574",900,RCPsga
71,755000000,354,Travel,"17,482",900,RCPsga
72,765000000,364,Office Supplies,"15,813",900,RCPsga
73,715000000,338,Office Expense,"14,761",900,RCPsga
74,720001000,661,Payroll Tax Exp-Sales,"11,458",900,RCPsga
75,710000000,334,Meals & Entertainment Expense,"9,782",900,RCPsga
76,760100000,357,Subcontractor - Cleaning,"9,765",900,RCPsga
77,705000000,332,Maintenance Expense,"7,032",900,RCPsga
78,745350000,912,Management Fee Exp,"7,000",900,RCPsga
79,740000000,348,Postage Expense,"1,659",900,RCPsga
80,796000000,377,Warranty on Equipment,"1,600",900,RCPsga
81,690000000,327,Legal & Professional Expense,564,900,RCPsga
82,755001000,669,Travel-Sales,"1,255",910,Sales
83,710001000,645,Meals & Ent Exp-Sales,747,910,Sales
84,690050000,874,ISO Cert Main & Quality,"9,453",930,Quality
85,751004000,749,R & D-Engineering,0,949,RandD
86,790000000,375,Warehouse Supplies,"71,641",980,Warehouse
87,795000000,376,Warehouse Expense,"18,513",980,Warehouse
88,745300000,455,Ware Trk Lease,"12,435",980,Warehouse
89,795100000,820,Warehouse Gas,"4,131",980,Warehouse

In [26]:
viewExpDf.to_csv(SOURCE_FILE_FOLDER +'expTemp.csv')

In [27]:
MONTHS_YTD=7
expCodeDf = expDf.groupby('Code')['Total'].sum().reset_index()
expCodeDf['ExpAnnUnallocated']=12/MONTHS_YTD*expCodeDf['Total']
expCodeDf.set_index('Code',inplace=True)
#addDesc(expCodeDf)

In [28]:
kids = codeChildParentDf['Children'].values
lKids = list(kids[kids != np.array(None)])
flatKidsList = []
for k in lKids: flatKidsList.extend(k)
parents = codeChildParentDf['Parent'].values
lParents = list(parents[parents !=np.array(None)])
lParents = [int(x) for x in lParents]

kidSet = set(flatKidsList)
parentSet = set(lParents)
reqdCodes = kidSet.union(parentSet)

actCodes = set(expCodeDf.index.values)
expCodeDf.reset_index(inplace=True)
for c in reqdCodes:
    if c not in actCodes:
        expCodeDf.loc[len(expCodeDf.index)] = [c, 0, 0]
expCodeDf.set_index('Code', inplace=True)

In [29]:
expCodeDf = allocate(codeChildParentDf, expCodeDf, 'ExpAnnUnallocated', codeAreaDf, codeHeadCountDf)
formatNums(addDesc(expCodeDf).sort_values('Code'))

,Desc,Total,ExpAnnUnallocated,ChildAllocateAdj,ChildAdjusted,ParentAllocateAdj,ccCost
Code,,,,,,,
-10,IntMoves,"-875,951","-1,501,630",0,"-1,501,630",0,"-1,501,630"
-5,IncludedInTaxSection,"41,766","71,598",0,"71,598",0,"71,598"
-2,ContraRevenue,"89,732","153,826",0,"153,826",0,"153,826"
-1,Product,"5,685,413","9,746,422","7,174","9,753,596",0,"9,753,596"
0,RCPall,"252,096","432,164","-432,164",0,0,0
2,ManEmployee,"934,008","1,601,156","-1,601,156",0,0,0
3,ExpTooling,"16,690","28,611","-28,611",0,0,0
4,ExpGas,"43,969","75,375","-75,375",0,0,0
5,ExpRepair,"7,710","13,217","-13,217",0,0,0
6,ExpSupplies,"84,395","144,677","-144,677",0,0,0
111,MOR_SM_CUT,0,0,"200,244","200,244",0,"200,244"
112,MOR_SM_OTH,0,0,"572,548","572,548",0,"572,548"
113,MOR_SM_TUB,0,0,"104,176","104,176",0,"104,176"
180,MORwh,0,0,"16,196","16,196","-16,196",0
190,MORoffice,0,0,"43,459","43,459","-43,459",0
280,NBRwh,0,0,"151,163","151,163","-151,163",0
290,NBRoffice,0,0,"21,594","21,594","-21,594",0
311,VEL_AS_ASY,0,0,"634,813","634,813",0,"634,813"
321,VEL_AL_ALU,0,0,"424,376","424,376",0,"424,376"
380,VELwh,0,0,"60,465","60,465","-60,465",0
390,VELoffice,0,0,"30,232","30,232","-30,232",0
900,RCPsga,"1,465,654","2,512,549","28,756","2,541,306","525,696","3,067,003"
910,Sales,"2,002","3,432",0,"3,432","-3,432",0
930,Quality,"9,453","16,205",0,"16,205","-16,205",0
949,RandD,0,0,0,0,0,0
980,Warehouse,"106,720","182,948",0,"182,948","-182,948",0

In [30]:
#print(f"{expCodeDf['ExpAnnUnallocated'].sum().round(2)= }")
#print(f"{expCodeDf['ccCost'].sum().round(2)           = }")
#print(f"{expCodeDf['ChildAdjusted'].sum().round(2)    = }")
#print(f"{expCodeDf['ChildAllocateAdj'].sum().round(2) = }")
#print(f"{expCodeDf['ParentAllocateAdj'].sum().round(2)= }")

print(f"Sum of Building Taxes:          {expCodeDf['ExpAnnUnallocated'].sum():,.0f}")
print(f"Sum of Cost Center Cost:        {expCodeDf['ccCost'].sum():,.0f}")
print(f"Sum of Child  Adjustment Check: {expCodeDf['ChildAllocateAdj'].sum().round(2)}")
print(f"Sum of Parent Adjustment Chick: {expCodeDf['ParentAllocateAdj'].sum().round(2)}")

Sum of Building Taxes:          13,480,555
Sum of Cost Center Cost:        13,480,555
Sum of Child  Adjustment Check: 0.0
Sum of Parent Adjustment Chick: 0.0

In [31]:
resExpCodeDf = expCodeDf[['ccCost']]
resExpCodeDf.columns=['exp']
resBuildTaxDf = buildTaxDf[['ccCost']]
resBuildTaxDf.columns=['tax']
resDepCodeDf = depCodeDf[['ccCost']]
resDepCodeDf.columns=['dep']
res = resExpCodeDf.join(resBuildTaxDf).join(resDepCodeDf)
res['ccCost']=res['exp']+res['tax']+res['dep']
res.fillna(0, inplace=True)
res = res[res['ccCost']>1]
#addDesc(res).sort_values('Code')

# Work Center Hours and Rates
**source:**  Query described and data in WorkCenterHours.xlxs'

In [32]:
#expAccountCodeDf = pd.read_csv(SOURCE_FILE_FOLDER +'expAccountCode.csv', converters={'GLAcctNo': lambda x: str(x)})
hoursDf = pd.read_csv(SOURCE_FILE_FOLDER +'ccHours.csv')
hoursDf.set_index('Code', inplace=True)
#addDesc(hoursDf)

In [33]:
resHours = res.join(hoursDf)
resHours.fillna(0, inplace=True)
resHours['avgNumPeopleOrMachine']=resHours['AnnHours']/(250*8)
resHours['ccRate'] = resHours['ccCost']/resHours['AnnHours']
resHours['ccRate'] = resHours['ccRate'].apply(lambda x: f"{x:.2f}".format(x))
resHours['avgNumPeopleOrMachine'] = resHours['avgNumPeopleOrMachine'].apply(lambda x: f"{x:.2f}".format(x))
formatNums(addDesc(resHours).sort_values('Code'))

,Desc,exp,tax,dep,ccCost,AnnHours,avgNumPeopleOrMachine,ccRate
Code,,,,,,,,
111,MOR_SM_CUT,"200,244","5,681","266,738","472,664","3,682",1.84,128.34
112,MOR_SM_OTH,"572,548","5,681","137,869","716,098","11,389",5.69,62.87
113,MOR_SM_TUB,"104,176","5,681","49,669","159,527","2,055",1.03,77.61
311,VEL_AS_ASY,"634,813","2,387","19,568","656,769","11,307",5.65,58.08
321,VEL_AL_ALU,"424,376","2,387","189,546","616,310","7,132",3.57,86.41
900,RCPsga,"3,067,003","51,400","129,279","3,247,683",0,0.00,inf

In [34]:
COGSexp = resHours['ccCost'].sum()-resHours.loc[900,'ccCost']
totSales = 15000000
margin = .3
cost = (1-margin)*totSales
print(f"Total Annual COGS Expenses: ${COGSexp:,.0f}")
print(f"Total Annual COGS: ${cost:,.0f}")
print(f"With total sales of {totSales:,.0f} at a margin of {100*margin:.1f}:")
print(f"COGS Expenses are approximately {100*COGSexp/cost:,.0f}% of total COGS costs.")
print(f"COGS Expenses are approximately {100*COGSexp/totSales:,.0f}% of total sales.")

Total Annual COGS Expenses: $2,621,370
Total Annual COGS: $10,500,000
With total sales of 15,000,000 at a margin of 30.0:
COGS Expenses are approximately 25% of total COGS costs.
COGS Expenses are approximately 17% of total sales.

## Discussion of Results
All items produced between 1/1/2021 and 8/1/2021 that we have complete information for (excludes most _ S and _ bulk parts) were costed under two ways were costed under the 'old' and 'new' methods.

**Current** costing method

- Included costs for consumables
- Used initial guesses for rates
- At creation, initial guesses were checked against MAS for resonable agreement for a basket of goods

**Proposed** costing method

- Consumables are included in the burdened rates
- Calculted burdened rates based on allocation of financial data.
    - Assumed what was shipped matches what was made
    - Assumed that data for which costing/ time estimates were missimg matched those for which it existed

Results are shown in **CostComparison_2021_01_01.xlxs**

In [35]:
priceCaptured= 7391397
approxActualSales= 10500000
oldCaptured= 5166834
newCaptured= 5600211

print(f'{priceCaptured=:,.0f}')
print(f'{approxActualSales=:,.0f}')
print(f'{oldCaptured=:,.0f}')
print(f'{newCaptured=:,.0f}')

priceCaptured=7,391,397
approxActualSales=10,500,000
oldCaptured=5,166,834
newCaptured=5,600,211

In [36]:
currentCost= approxActualSales/priceCaptured*oldCaptured*12/7
newCost= approxActualSales/priceCaptured*newCaptured*12/7
price= approxActualSales*12/7
def m(p,c):return (p-c)/p
print("Adjusted for missing values and annualized results summary")
print(f'{newCost - currentCost=:,.0f}')
print(f'Amount Costing Program is Under (Over) Costing per Month: ${(newCost-currentCost)/12:,.0f}')

Adjusted for missing values and annualized results summary
newCost - currentCost=1,055,387
Amount Costing Program is Under (Over) Costing per Month: $87,949

In [37]:
saveAsCsv(formatNums(addDesc(resHours).sort_values('Code')),'ccCosts.csv')

In [38]:
saveAsCsv(addDesc(codeChildParentViewDf).reset_index(),'codeChildParentView.csv')

In [39]:
saveAsCsv(formatNums(addDesc(codeAreaDf)).sort_values('Code').reset_index(),'areaSplit.csv')

In [40]:
saveAsCsv(addDesc(codeHeadCountDf).reset_index(),'headcountSplit.csv')