In [1]:
import pandas as pd
from dfHelpers import cleanDf

In [2]:
fDir = f'Q:\OdooMigration\Accounting\AcctSelector\\'
fName = 'OdooAN_2021_10_8.xlsx'
sheet = 'ACSelect'
inputDf = pd.read_excel(fDir+fName,sheet_name=sheet)

In [4]:
inputDf = pd.read_excel(fDir+fName,sheet_name=sheet)
intList = ['SELECTABLE','SHIPPING','TAXES']
df = cleanDf(inputDf, intList)
df.sort_values(by=['orderANs', 'PrintOrder'],inplace=True)
df

,Name,Type,Code,OdooAcctCode,Parent,Notes,orderANs,SELECTABLE,SHIPPING,BUILDING,COST_CENTER,TAXES,PrintOrder
0,Bank,Bank and Cash,,101402,0,,101402,0,0,,,0,1
1,Op Acct FCB,Bank and Cash,,102200,101402,,101402 - 102200,0,0,,,0,1
2,COVID19 Checkiing - FCB,Bank and Cash,,102500,101402,,101402 - 102500,0,0,,,0,1
3,Payroll FCB,Bank and Cash,,103300,101402,,101402 - 103300,0,0,,,0,1
4,Svgs Acct FCB,Bank and Cash,,106600,101402,,101402 - 106600,0,0,,,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,VELwh,Expense,380,793800,0,,793800,1,0,,VELwh,0,13
401,VELoffice,Expense,390,793900,0,,793900,1,0,,VELoffice,0,13
402,ALLwh,Expense,990,799900,0,,799900,1,0,,ALLwh,0,13
403,Historical Expense,Expense,900,799999,0,do not use,799999,0,0,,,0,13
239,Equity - Retained Earnings,Current Year Earnings,,999999,0,,999999,0,0,,,0,10

In [6]:
selectDict = {'types':list(df['Type'].unique()), 'buildings': list(df['BUILDING'].unique()), 'cost_centers': list(df['COST_CENTER'].unique())}
binaryList = ['SELECTABLE', 'SHIPPING','TAXES']
for k in selectDict.keys():
    print(f'{k}: {selectDict[k]}')
print(binaryList)

types: ['Bank and Cash', 'Receivable', 'Current Assets', 'Prepayments', 'Non-current Assets', 'Expense', 'Current Liabilities', 'Payable', 'Non-current Liabilities', 'Equity', 'Income', 'Other Income', 'Cost of Revenue', 'Current Year Earnings']
buildings: ['', 'MOR', 'NBR', 'VEL', 'ALL']
cost_centers: ['', 'SM', 'MOR_SM_CUT', 'MOR_SM_OTH', 'MOR_SM_TUB', 'VEL_AS_ASY', 'VEL_AL_ALU', 'AL_AS', 'Sales', 'Operations', 'Engineering', 'Quality', 'IT', 'MORwh', 'MORoffice', 'NBRwh', 'NBRoffice', 'VELwh', 'VELoffice', 'ALLwh']
['SELECTABLE', 'SHIPPING', 'TAXES']

In [ ]:
inputDf.columns

In [13]:
list(selectDict.keys())[0]

'types'

In [18]:
selectDict[list(selectDict.keys())[0]]

['Bank and Cash',
 'Receivable',
 'Current Assets',
 'Prepayments',
 'Non-current Assets',
 'Expense',
 'Current Liabilities',
 'Payable',
 'Non-current Liabilities',
 'Equity',
 'Income',
 'Other Income',
 'Cost of Revenue',
 'Current Year Earnings']